@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAEFCA; 
  --foreground: #171717;
  --primary: #01A401;
  --primary-foreground: #FFFFFF;
  --secondary: #FAEFCA;
  --secondary-foreground: #171717;
  --accent: #F8E7B0;
  --accent-foreground: #171717;
  --muted: #F3DDA0;
  --muted-foreground: #555555;
  --destructive: #FF0000;
  --destructive-foreground: #FFFFFF;
  --card: #FFFFFF;
  --card-foreground: #171717;
  --popover: #FFFFFF;
  --popover-foreground: #171717;
  --border: #E2E2E2;
  --input: #E2E2E2;
  --ring: #01A401;
  --white: #FFFFFF;
  --black: #000000;
  --overlay: rgba(0, 0, 0, 0.3);
  --gray: #6b7280;

  /* Custom colors for CustomerReviews component */
  --review-section-bg: #ECFDF0;
  --review-nav-button-bg: #D9D9D9;
  --star-color: #FFD500;
  --review-heading-text: #C8FFC8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
    --foreground: #FFFFFF;
    --primary: #029102;
    --primary-foreground: #FFFFFF;
    --secondary: #333333;
    --secondary-foreground: #FFFFFF;
    --accent: #444444;
    --accent-foreground: #FFFFFF;
    --muted: #2A2A2A;
    --muted-foreground: #999999;
    --destructive: #FF4545;
    --destructive-foreground: #FFFFFF;
    --card: #2C2C2C;
    --card-foreground: #FFFFFF;
    --popover: #2C2C2C;
    --popover-foreground: #FFFFFF;
    --border: #444444;
    --input: #444444;
    --ring: #029102;
    --white: #FFFFFF;
    --black: #000000;
    --overlay: rgba(0, 0, 0, 0.5);
    --gray: #9ca3af;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add this CSS to globals.css or a relevant CSS file for the animation */
@keyframes scroll-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-scroll-down {
  animation: scroll-down 2s infinite;
}